# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
models/*.json
models/*.pickle
models/*.pkl

# Logs
logs/

# OS
.DS_Store
